# dependencies
app-build/node_modules/
app-build/.pnp
app-build/.pnp.*
app-build/.yarn/*

# testing
app-build/coverage/

# next.js
app-build/.next/
app-build/out/

# production
app-build/build/

# misc
.DS_Store
*.pem
app-build/npm-debug.log*
app-build/yarn-debug.log*
app-build/yarn-error.log*
app-build/.pnpm-debug.log*

# env files
app-build/.env*

# vercel
app-build/.vercel

# typescript
app-build/*.tsbuildinfo
app-build/next-env.d.ts
